		{% extends "layout.html" %}
		{% block conteudo %}
		<form method="post">
			<fieldset>
				<legend>Geração de Certificado/Diploma</legend>
				<p>
					<label for="i1">CPF</label> <br/>
					<input type="text" name="cpf" id="i1" autocomplete="off" />
				</p>
				<p>
					<label for="i2">Nível</label> <br/>
					<select name="nivel" id="i2">
						<option value="" hidden>Selecione</option>
						<option value="EM">Ensino Médio</option>
						<option value="ES">Ensino Superior</option>
					</select>
				</p>
				<p>
					<button type="reset">Redefinir</button>
					<button type="submit" formaction="/gerar">Gerar</button>
				</p>
			</fieldset>
		</form>
		{% endblock %}